<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Streamer</title>
	<style>
		#container {
			margin: 0px auto;
			width: 300px;
			height: 300px;
			border: 10px #333 solid;
		}

		#canvas {
			width: 300px;
			height: 300px;
			background-color: #666;
		}
	</style>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
</head>

<body>
	<div id="container">
		<img id="Draw_canvas"></canvas>
	</div>
	<script>
		var socket = io();
		console.log("Socker Create");
		socket.on('connect', () => {
			console.log("Connect");
			socket.emit('Tunnel', { ID: socket.id });
		});
		socket.on('disconnect', () => {
			socket.emit('disconnect', { ID: socket.id });
		});
		console.log("Variable Initializing");
		var Draw_img = document.getElementById('Draw_canvas');
		var canvas = document.createElement('canvas');
		var context = canvas.getContext('2d');
		var video = document.createElement('video');
		var constraints = {
			audio: false,
			video: { width: 300, height: 300 }
		};
		var errBack = function (e) {
			console.log('An error has occurred!', e)
		};

		if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
			// Put video listeners into place
			navigator.mediaDevices.getUserMedia(constraints)
				.then(function (stream) {
					/* use the stream */
					console.log("Setting Stream And playing");
					video.srcObject = stream;
					video.play();
				})
				.catch(function (err) {
					/* handle the error */
					console.log("Error: ");
				});
		}
		const FPS = 15;
		console.log("ADDeventLISTENER");
		video.addEventListener('play', function () {
			var $this = this; //cache
			(function loop() {
				if (!$this.paused && !$this.ended) {
					canvas.setAttribute('width', video.videoWidth);
					canvas.setAttribute('height', video.videoHeight);
					context.drawImage($this, 0, 0);
					var data = canvas.toDataURL('image/jpeg');
					// returns a frame encoded in base64
					sessionStorage.clear();
					console.log("SENDing ");
					socket.compress(true).emit('IMAGE_DATA_FROM_STREAMER', {
						image: canvas.toDataURL('image/jpeg')
					});
					console.log("REceiving");
					socket.on('face', (IMAGE) => {
						Draw_img.src = null;
						Draw_img.src = IMAGE.data.image;
					});
					setTimeout(loop, 1000 / FPS); // drawing at 30fps
				}
			})();
		}, 0);

	</script>
</body>

</html>