<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Streamer</title>
	<style>
		<body style="background-image:url(https://images.unsplash.com/photo-1492138623748-a1b1f758a762?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80)">
		#my_camera {
			margin: 0px auto;
			width: 320px
			height: 240px;
			border: 10px #333 solid;
		}

		#results {
			width: 320px;
			height: 240px;
			background-color: #666;
		}

	</style>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.js"></script>
</head>

<body>
	<div id="my_camera"></div>

	<div id="results">
		<img id="Draw_canvas"></canvas>
	
	<script language="JavaScript">
		var Draw_img = document.getElementById('Draw_canvas');
		var socket = io();
		console.log("Socker Create");
		socket.on('connect', () => {
			console.log("Connect");
			socket.emit('Tunnel', {
				ID: socket.id
			});
		});
		socket.on('disconnect', () => {
			socket.emit('disconnect', {
				ID: socket.id
			});
		});
		
		socket.on('face', (IMAGE) => {
			Draw_img.src = IMAGE.data;
		});

		Webcam.set({
			width: 320,
			height: 240,
			image_format: 'jpeg',
			jpeg_quality: 90
		});
		Webcam.attach('#my_camera');

		async function send_IMAGE(data) {
			socket.compress(true).emit('IMAGE_DATA_FROM_STREAMER', data);
		}

		function repeatOften() {
			Webcam.snap(async function(data_uri) {
				var raw_image_data = data_uri.replace(/^data\:image\/\w+\;base64\,/, '');
				send_IMAGE(raw_image_data);
			});
			requestAnimationFrame(repeatOften);
		}

		Webcam.on('live', () => requestAnimationFrame(repeatOften));


	</script>
</body>

</html>
